<h1>Happy anniversary!</h1>

<p>
Dear <%= @customer.display_name %>.
</p>

<p>
It has been <%= @months %> months since you became our member.
To celebrate, we have issued a coupon for you.
</p>

<p><%= @code %></p>

<p>
We look forward to your continued patronage.
</p>
